<%- include("./incluir/header.ejs")%>

        <section>
            <div class="portfolio-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here-->
                                        <h2 class="text-uppercase"><%=datos.titulo%></h2>
                                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                        <img class="img-fluid d-block mx-auto" src="/assets/img/upload/asd.jpg" alt="" />
                                        <p><%= datos.descripcion%></p>
                                        <ul class="list-inline">
                                            <li>Date: <%= datos.fecha_publi%></li>
                                            <li>Client: <%= datos.usuarios.id%></li>
                                            <li>Category: <%= datos.categorias.nombre%></li>
                                        </ul>
                                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                                            <i class="fas fa-times mr-1"></i>
                                            Close Project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%- include("./incluir/footer.ejs")%>